# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.FclEx.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\projects\FclEx\.idea\.idea.FclEx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
